extends layout

block content
  div(class="container")
    div(id="profile-content", class="row")
  script(src='#{serverURL}/javascripts/performance-profile.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_SVG")
  script(type='text/javascript').
      $(function(){
        setDefaultSettings(!{JSON.stringify(baselinesActived)}, !{JSON.stringify(labelsActivated)}, !{JSON.stringify(scalingFactors)}, !{JSON.stringify(isXScaleLinear)}, !{JSON.stringify(minTau)}, !{JSON.stringify(maxTau)}, !{JSON.stringify(minBaselineMetric)}, !{JSON.stringify(minUnsolvedMetric)}, !{JSON.stringify(data)});
        redraw();
      });
  link(href='#{serverURL}/stylesheets/performance-profile.min.css', rel='stylesheet')
