extends layout

block content
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
      .container.topnav
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.topnav(href='#') Performance Profiles
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#about') About
            li
              a(href='#documentation') Documentation
            li
              a(href='#tool') Tool
            li
              a(href='#input-format') Input Format
        // /.navbar-collapse
      // /.container
    // Header
    a(name='about')
    .intro-header
      .container
        .row
          .col-lg-12
            .intro-message
              h1 Performance Profiles
              h3 Evaluate Solver Performances and Estimate their Improvement
              hr.intro-divider
              ul.list-inline.intro-social-buttons
                li
                  a.btn.btn-default.btn-lg(href='mailto:sascha.vancauwelaert@uclouvain.be', target='_top')
                    i.fa.fa-envelope.fa-fw
                    span.network-name E-Mail the author
                li
                  a.btn.btn-default.btn-lg(href='#', disabled='disabled')
                    i.fa.fa-bitbucket.fa-fw
                    span.network-name Bitbucket (soon)
                li
                  a.btn.btn-default.btn-lg(href='#', disabled='disabled')
                    i.fa.fa-newspaper-o.fa-fw
                    span.network-name Research Paper (soon)
      // /.container
    // /.intro-header
    // Page Content
    a(name='documentation')
    .content-section-a
      .container
        .row
          .col-lg-5.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading What are Performances Profiles ?
            p.lead
              | Performance profiles are cumulative distributions for a performance metric that can be used to evaluate solver performances. They are more and more used to grasp a lot of conclusive information out of evaluated benchmarks. Among other advantages, they directly provide the probability that a solving method will be able to solve an arbitrary instance and with which performance. Equipped with such a tool, one is clearly able to make decisions regarding a solver based on quantitative evaluation data.
          .col-lg-5.col-lg-offset-2.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading What does provide this Tool ?
            p.lead
              | From a very 
              b  simple input format 
              |  (explained 
              a(href='#input-format')  here 
              | ), this tool allows to generate and 
              b  visualize 
              |  performance profiles. 
              |                         A few widgets allow then to 
              b  interact 
              |  with the plot, in particular to artificially modify the input data in order to directly visualize the benefits of improving an approach.
              |                         Eventually, it is possible to export the performance profiles as .svg files. The SVG format has two advantages : it is vectorized and editable (e.g. with the free 
              a(href='https://inkscape.org/')  Inkscape 
              |  software). This makes it very easy to customize the generated plot and include it in a document.
        .row
          .col-lg-10.col-lg-offset-1
            hr.section-heading-spacer
            .clearfix
            h2.section-heading Usage
            p.lead
              | To generate a plot, one must simply feed the tool with a JSON file such as described 
              a(href='#input-format')  here 
              | . A control panel is then available to modify the plot as described hereafter. The plot can eventually be downloaded as an SVG file.
            h4  Baselines 
            p.lead
              | One or several approaches to be compared can be used as 
              em  baselines 
              |  for the performance profiles. The baseline selector allow to set which ones.
            h4  Labels 
            p.lead
              | Each instance can be assigned to one or several labels, defined in the input format. Those labels can (un)selected using the provided label selector. If an instance is assigned to a label and this label is unselected, it will not be considered in the construction of the profiles.
            h4  Scaling factors 
            p.lead
              | For a given instance, the total metric can be split into several metric components. When loading input data in the tool, a slider is generated for each component. Thanks to them, it is then possible to scale down any of the metric components. Basically, assigning a factor μ to a component makes the corresponding value of all instances multiplied μ. This allows to directly see on the plot what would be the impact of this scaling.
            h4  τ bounds 
            p.lead
              | For convenience, it is possible to change the bounds on the τ axis.
            h4  Minimal Baseline Metric 
            p.lead
              | Some of the instances can be filtered out based on a minimum metric value. All the instances that have a total metric lower than this value for the approaches selected as baselines will be filtered out before constructing the profiles.
            p
      // /.container
    // /.content-section-a
    a(name='tool')
    .content-section-b
      .container
        #profile-modal.modal.fade(role='dialog')
          .modal-dialog
            // Modal content
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') &times;
                |           
                h4#modelTitle
                |         
              .modal-body
                h5#modelContent
        div(id="profile-content", class="row")
      // /.container
    a(name='input-format')
    // /.content-section-b
    .content-section-a
      .container
        .row
          .col-lg-5.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading Input Format
            p.lead
              | The input to be passed consists of a JSON file following a JSON schema available at the end this section. A JSON schema helps to validate the JSON file. The user can use a 
              a(href='http://www.jsonschemavalidator.net/', target='_blank')  validator 
              |  to ensure its input data is correct according to the Schema.
              |                         The following properties must be defined in the JSON file :
              .list-group
                .list-group-item
                  h4.list-group-item-heading metric
                  p.list-group-item-text Defines the name of the metric. It is used to label the x-axis of the plot.
                .list-group-item
                  h4.list-group-item-heading labels
                  p.list-group-item-text Labels that can be assigned to instances.
                .list-group-item
                  h4.list-group-item-heading instances
                  p.list-group-item-text
                    | An array assigning labels to instances. The i
                    sup th
                    |  element of this array gives the indices (in the 
                    em  lables 
                    |  array) corresponding to the labels assigned to the i
                    sup th
                    |  instance.
                .list-group-item
                  h4.list-group-item-heading data
                  p.list-group-item-text
                    | The actual data for each compared approach.
                    | An approach is defined by its name and several metric components. For each metric component, a name must be given as well as an array with the corresponding value for each instance. The i
                    sup th
                    |  element gives the metric quantity of the metric component for the i
                    sup th
                    |  instance. The total metric of an instance is the sum on all metric components for this instance.
            a(name='buttonSchema')
            .text-center
              a#downloadSchema.btn.btn-default.btn-lg(type='button')
                span.glyphicon.glyphicon-save(aria-hidden='true')
                |  Download JSON Schema
          .col-lg-5.col-lg-offset-2.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading Input Example
            p.lead
              | The following JSON file corresponds to the plot that is shown when this page is loaded.
            pre#input-example.
              \n                                  
      // /.container
    // Footer
    footer
      .container
        .row
          .col-lg-12
            ul.list-inline
              li
                a(href='#') Home
              li.footer-menu-divider ⋅
              li
                a(href='#about') About
              li.footer-menu-divider ⋅
              li
                a(href='#documentation') Documentation
              li.footer-menu-divider ⋅
              li
                a(href='#tool') Tool
              li.footer-menu-divider ⋅
              li
                a(href='#input-format') Input Format
      
    // Bootstrap Core JavaScript
    // Imported scripts
    script(src='javascripts/include/FileSaver.js')
    script(src='kartik-v-bootstrap-fileinput/js/fileinput.js')
    script(src='javascripts/include/json-stringify-pretty-compact.js')

    link(href='stylesheets/performance-profile.min.css', rel='stylesheet')
    // Custom Fontsstylesheets
    //link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='kartik-v-bootstrap-fileinput/css/fileinput.css', rel='stylesheet')


    script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_SVG")
    // Custom scripts
    script(src='javascripts/data.js')
    script(src='javascripts/performance-profile.min.js')
    //- script(src='private/include/d3.min.js')
    //- script(src='private/include/bootstrap-slider.js')
    //- script(src='private/include/bootstrap-switch.js')
    //- script(src='private/include/tv4.js')
    //- script(src='private/models.js')
    //- script(src='private/customTool.js')
    //- script(src='private/InputSchema.js')
    //- script(src='private/mathjaxHelper.js')
    //- script(src='private/plot.js')
    //- script(src='private/ui.js')
    //- script(src='private/utils.js')
    
    
    script(src='javascripts/io.js')
    script(src='javascripts/index.js')
    script(src='javascripts/export.js')
